{
	"accountName": "your-librelinkup-email",
	"password": "your-librelinkup-password",
	"server": "europe",
	"unit": "mmol",
	"reversed": false,
	"quickView": false,
	"lowThreshold": 80,
	"highThreshold": 180,
	"vibeLowSoonEnabled": false,
	"vibeLowSoonThreshold": 70,
	"vibeLowSoonRepeatMinutes": 30,
	"vibeEnabled": false,
	"vibeHighThreshold": 250,
	"vibeDelayMinutes": 60,
	"vibeRepeatMinutes": 60,
	"goodColor": "0x00AA55",
	"warningColor": "0xFFAA00",
	"alarmColor": "0xFF0000",
	"pollIntervalMinutes": 5
}
